build/
managed_components/
.vscode/

sdkconfig.old
sdkconfig.local
sdkconfig.local.defaults

build_output.txt

# ESP-IDF build artifacts copied out of build/
*.bin
*.elf
*.map
*.lst
flasher_args.json
